<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14182079608-stoqf6k02c576bfre34lqhakkhtsidet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14182079608-stoqf6k02c576bfre34lqhakkhtsidet</string>
	<key>API_KEY</key>
	<string>AIzaSyC7TVWslI1mnYeLWWzEfuP2RW0JTUshvrg</string>
	<key>GCM_SENDER_ID</key>
	<string>14182079608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chats-ios-13-4c2cf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chats-ios-13-4c2cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14182079608:ios:2bdc4971b8796261aa618d</string>
</dict>
</plist>